jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Start Vault Dev Server
        run: |
          docker run -d --name vault -p 8200:8200 vault:1.15.5 server -dev -dev-root-token-id=root

      - name: Wait for Vault
        run: |
          for i in {1..10}; do
            curl --silent --fail http://127.0.0.1:8200/v1/sys/health && break
            echo "Waiting for Vault..."
            sleep 2
          done

      - name: Login to Vault
        uses: hashicorp/vault-action@v3
        with:
          url: http://127.0.0.1:8200
          method: token
          token: root
          secrets: |
            secret/data/aws terraform-access-key | AWS_ACCESS_KEY_ID
            secret/data/aws terraform-secret-key | AWS_SECRET_ACCESS_KEY
          exportEnv: true

      - name: Terraform Init & Apply
        run: |
          terraform init
          terraform apply -auto-approve
